Django==1.11.18
django-crispy-forms==1.6.0
django-extensions==2.1.6
djangorestframework==3.9.1
djangorestframework-datatables==0.4.1
djangorestframework-jwt==1.8.0
Markdown==3.0.1
Pillow==5.4.1
psycopg2==2.7.7
PyJWT==1.4.0
pytz==2018.9
six==1.12.0
